---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Achievements">
  <main>
    <h1>Achievements Page</h1>
    <p>A list of achievements will be displayed here.</p>
  </main>
</Layout>
