---
import Layout from '../layouts/Layout.astro';
import HeroNew from '../components/HeroNew.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Gibran El Fahmi - Portfolio">
  <main>
    <HeroNew />
    <Skills />
  </main>
</Layout>