---
// Komponen Layout menerima properti 'title' dari halaman yang memanggilnya
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		{/* Judul tab browser akan diambil dari properti 'title' */}
		<title>{title}</title>
	</head>
	<body>
		{/* Di sinilah semua konten dari file index.astro akan dimasukkan */}
		<slot />
	</body>
</html>
<style is:global>
	/* Anda bisa menambahkan style global di sini */
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		margin: 0;
	}
</style>